.outerItem {
	padding: 0px;
}
.enyo-drawer {
	background-color: rgba(0,0,0,0.1);
}


.feedItem .title {
	font-weight: bold;
}
.feedItem .summary {
	/*max-height: 200px;
	overflow: hidden;*/
}

.errorText {
	text-align: center;
	color: red;
	font-size: 16px;
}