.truncating-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*body {
	background: url(../images/background_blue.png) top left no-repeat #1A4D87;
	background-size: 100%;
}*/


@-webkit-keyframes spinning {
	from {
		-webkit-transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
	}
}

.spinning {
	-webkit-animation-name: spinning;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.toolbarText {
	color: white; 
	margin: 0px 10px; 
	font-size: 18px;
}


.feedIconList {
	-webkit-transition: height 500ms ease-in-out;
	background: url(../images/iconList_background.png) top left repeat silver;

}

.iconContainer {
	padding: 10px;
}


.enyo-grid-div {
	float: left;
	width: auto;
	height: auto;
	margin: 0px;
	border: 0px;
	box-shadow: 0px 0px 0px #888;
	-moz-box-shadow: 0px 0px 0px #888;
	-webkit-box-shadow: 0px 0px 0px #888;
}

.feedIcon {
	float: inherit;
	position: relative;
}
.enyo-grid .feedIcon {
	float: left;
}

.feedIcon .icon {
	text-align: center;
	padding: 10px 5px;	
}

.feedScroller {
	position: relative;
	background-color: rgba(0, 0, 0, 1);
	padding: 5px 0px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .9);
	min-height: 200px;
	max-height: 400px;
	/*
	-webkit-transition: height 0.2s ease-in;
	height: 0px;*/
}


.feedIcon .imageContainer {
	margin: auto;
	width: 71px;
	height: 62px;
	line-height: 62px;
	margin-bottom: 5px;
	position: relative;
	background: url(../images/feedIcon.png) top left no-repeat;  
}
.feedIcon .imageContainer.all {
	background-image: url(../images/feedIcon_all.png);
}
.feedIcon .imageContainer.star {
	background-image: url(../images/feedIcon_star.png);
}
.feedIcon .imageContainer.share {
	background-image: url(../images/feedIcon_share.png);
}
.feedIcon .imageContainer.folder {
	background-image: url(../images/feedIcon_folder.png);	
}

.feedIcon .image {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 23px;
	margin: auto;
	-webkit-border-radius: 3px;

	width: 20px;
	height: 20px;
}

.feedIcon .title {
	/*color: white;*/
	font-size: 16px;
	padding: 10px 3px 0px 3px;
}
.feedScroller .feedIcon .title{
	color: white;
}

.feedIcon .unreadCount {
	position: relative;
	bottom: 5px;
	z-index: 1000;

	width: 100%;
	font-size: 15px;
	font-weight: bold;
	line-height: 17px;
	color: white;
	padding-bottom: 1px;
	/*background-color: silver;
	-webkit-border-radius: 0px 0px 10px 10px;*/
}
.feedIcon .open .unreadCount{
	bottom: 0px;
}
.feedIcon .spinner {
	position: absolute;
	bottom: 85px;
	left: 70px;
}

.feedView {
	background: black;
}

.enyo-sliding-view .enyo-bg {
	background: url(../images/feedView_background.png) top left no-repeat black;
}

.itemCard {
	margin: 25px 20px 0px 0px;
	overflow: hidden;
	/*-webkit-border-radius: 10px;*/
}
.itemCard .top {
	width: 322px;
	height: 14px;
	background: url(../images/itemCard_top.png) top left no-repeat;	
	position: absolute;
	top: 11px;
}

.itemCard .mainContent {
	background-color: #F2EDE9;	
	position: relative;
}

.itemCard .header {
	padding: 5px 10px 0px 10px;
	background: url(../images/itemCard_separator.png) bottom center no-repeat;
}

.itemCard .header .title {
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 5px;
}

.itemCard .content {
	padding: 5px 10px 10px 10px;
	overflow: hidden;
}

.itemCard .content .summary {
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	
	/*max-height: 200px;
	overflow: hidden;*/
}


.itemCard .bottomToolbar {
	height: 90px;
	position: absolute;
	bottom: 0px;
	width: 322px;
	z-index: 1000px;
	background: url(../images/itemCard_toolbar.png) top left no-repeat;
}
.itemCard .bottomToolbar .content {
	position: relative;
	top: 50px;
}

.itemCard .bottomToolbar .feedTitle {
	font-size: 18px;
	color: white;
	padding: 0px 5px 0px 10px;
}
.itemCard .bottomToolbar .date {
	font-size: 18px;
	color: white;
	font-weight: normal;
	padding: 0px 10px 0px 5px;	
}
.itemCard .bottomToolbar .unread {
	position: absolute; 
	margin-top: -2px;
	-webkit-transition: opacity 300ms ease-in-out;
}

/*.feedCard img {
	display: none;
}*/
.itemCard img.firstImage {
	display: block;
	margin: auto;
	max-width: 300px !important;
	height: auto !important;
	padding-bottom: 5px;
}

.itemCard .summmary a[href]{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display:inline-block;
	max-width:80%;
}

/*
.feedCard img {
	display: block;
	margin: auto;
	max-width: 300px !important;
	height: auto !important;
	
}*/

.itemView .title {
	
}

.itemView .date {
	font-size: 14px;
}

.itemView .content {
	padding: 10px;
	background-color: rgb(216, 216, 216);
	font-size: 14px;
}


.errorText {
	text-align: center;
	color: red;
	font-size: 16px;
}