.truncating-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*body {
	background: url(../images/background_blue.png) top left no-repeat #1A4D87;
	background-size: 100%;
}*/


@-webkit-keyframes spinning {
	from {
		-webkit-transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
	}
}

.spinning {
	-webkit-animation-name: spinning;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

/*.enyo-toolbar {
	-webkit-border-image: url(this/does/not/exist.png) 2 4 repeat stretch;
	border-width: 2px 4px;
	background: url(../images/bar.png) top left repeat-x black;
}*/
.enyo-toolbar {
	background-color: black;
}
.toolbarText {
	color: white; 
	margin: 0px 10px; 
	font-size: 18px;
}

.classyButton {
	margin: auto;
	color: white;
	font-size: 20px;
	text-shadow: black 0px 0px 5px;
	font-weight: bold;
	text-align: center;
	line-height: 67px;
	height: 70px;
	width: 247px;
}
.classyButton.green {
	background-image: url(../images/ButtonG.png);		
}
.classyButton.green.depressed {
	background-image: url(../images/ButtonGpress.png);		
}
.classyButton.orange {
	background-image: url(../images/ButtonO.png);			
}
.classyButton.orange.depressed {
	background-image: url(../images/ButtonOpress.png);			
}
.classyButton.large {
	background-image: url(../images/FinishButton.png);	
	width: 151px;
	height: 147px;
}
.classyButton.large.depressed {
	background-image: url(../images/FinishButtonPress.png);		
}
.classyButton .enyo-spinner {
	position: relative;
	top: 19px;
	right: 40px;
}

.login {
	width: 100%;
	background: url(../images/intro_welcome.png) center no-repeat;
}
.login.step2 {
	background-image: url(../images/intro_login.png);	
}
.login.step3 {
	background-image: url(../images/intro_tourquestion.png);		
}
.login.step4 {
	background-image: url(../images/tour/Tour1.png);		
}
.login.step5 {
	background-image: url(../images/tour/Tour2.png);		
}
.login.step6 {
	background-image: url(../images/tour/Tour3.png);		
}
.login.step7 {
	background-image: url(../images/tour/Tour4.png);		
}
.login.step8 {
	background-image: url(../images/tour/Tour5.png);		
}

.feedIconList {
	-webkit-transition: height 500ms ease-in-out;
	background: url(../images/iconList_background.png) top left repeat silver;
}

.feedIconList.noWifi {
	background: url(../images/no_wifi.png) center no-repeat;
}
.feedIconList.noFeeds {
	background: url(../images/no_feeds.png) center no-repeat;
}


.iconContainer {
	padding: 10px;
}

.feedIconList .fade {
	width: 100%;
	height: 360px;
	position: absolute;
	bottom: 0px;
	background: url(../images/iconList_gridfade.png) bottom left repeat-x;
	pointer-events: none;
}
.feedIconList.noWifi .fade, 
.feedIconList.noFeeds .fade {
	background-image: url(../does/not/exist.png) bottom left repeat-x;
	
}

.enyo-grid-div {
	float: left;
	width: auto;
	height: auto;
	margin: 0px;
	border: 0px;
	box-shadow: 0px 0px 0px #888;
	-moz-box-shadow: 0px 0px 0px #888;
	-webkit-box-shadow: 0px 0px 0px #888;
}

.feedIcon {
	float: inherit;
	position: relative;
}
.enyo-grid .feedIcon {
	float: left;
}

.feedIcon .icon {
	text-align: center;
	padding: 10px 5px;	
}

.feedScroller {
	position: relative;
	background-color: rgba(0, 0, 0, 1);
	padding: 5px 0px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .9);
	min-height: 200px;
	max-height: 400px;
	/*
	-webkit-transition: height 0.2s ease-in;
	height: 0px;*/
}


.feedIcon .imageContainer {
	margin: auto;
	width: 71px;
	height: 62px;
	line-height: 62px;
	margin-bottom: 5px;
	position: relative;
	background: url(../images/feedIcon.png) top left no-repeat;  
}
.feedIcon .imageContainer.all {
	background-image: url(../images/feedIcon_all.png);
}
.feedIcon .imageContainer.star {
	background-image: url(../images/feedIcon_star.png);
}
.feedIcon .imageContainer.share {
	background-image: url(../images/feedIcon_share.png);
}
.feedIcon .imageContainer.folder {
	background-image: url(../images/feedIcon_folder.png);	
}

.feedIcon .image {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 23px;
	margin: auto;
	-webkit-border-radius: 3px;

	width: 20px;
	height: 20px;
}

.feedIcon .title {
	color: white;
	font-size: 16px;
	padding: 9px 3px 0px 3px;
}
.feedScroller .feedIcon .title{
	color: white;
}

.feedIcon .unreadCount {
	position: relative;
	bottom: 5px;
	z-index: 1000;

	width: 100%;
	font-size: 15px;
	font-weight: bold;
	line-height: 17px;
	color: white;
	padding-bottom: 1px;
	/*background-color: silver;
	-webkit-border-radius: 0px 0px 10px 10px;*/
}
.feedIcon .open .unreadCount{
	bottom: 0px;
}
.feedIcon .spinner {
	position: absolute;
	bottom: 85px;
	left: 70px;
}

.feedView {
	background: black;
}

.enyo-sliding-view .enyo-bg {
	background: url(../images/feedView_background.png) top left no-repeat black;
}

.itemCard {
	margin: 25px 20px 0px 0px;
	overflow: hidden;
	/*-webkit-border-radius: 10px;*/
}
.itemCard .top {
	width: 322px;
	height: 14px;
	background: url(../images/itemCard_top.png) top left no-repeat;	
	position: absolute;
	top: 11px;
}

.itemCard .mainContent {
	background-color: #F2EDE9;	
	position: relative;
}

.itemCard .header {
	padding: 5px 10px 0px 10px;
	background: url(../images/itemCard_separator.png) bottom center no-repeat;
}

.itemCard .header .title {
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 5px;
}

.itemCard .content {
	padding: 5px 10px 10px 10px;
	overflow: hidden;
}

.itemCard .content .summary {
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	
	/*max-height: 200px;
	overflow: hidden;*/
}

.itemCard .bottomToolbar {
	height: 90px;
	position: absolute;
	bottom: 0px;
	width: 322px;
	z-index: 1000px;
	background: url(../images/itemCard_toolbar.png) top left no-repeat;
}
.itemCard .bottomToolbar .content {
	position: relative;
	top: 50px;
}

.itemCard .bottomToolbar .feedTitle {
	font-size: 18px;
	color: white;
	padding: 0px 5px 0px 10px;
}
.itemCard .bottomToolbar .date {
	font-size: 18px;
	color: white;
	font-weight: normal;
	padding: 0px 10px 0px 5px;	
}
.itemCard .bottomToolbar .unread {
	position: absolute; 
	margin-top: -2px;
	-webkit-transition: opacity 300ms ease-in-out;
}

/*.feedCard img {
	display: none;
}*/
.itemCard img.firstImage {
	display: block;
	margin: auto;
	max-width: 300px !important;
	height: auto !important;
	padding-bottom: 5px;
}

.itemCard .summmary a[href]{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display:inline-block;
	max-width:80%;
}

/*
.feedCard img {
	display: block;
	margin: auto;
	max-width: 300px !important;
	height: auto !important;
	
}*/

.itemView .title {
	
}

.itemView .date {
	font-size: 14px;
}

.itemView .enyo-header {
	background-color: rgb(224, 220, 217);
}

.itemView,
.itemView .enyo-scroller {
	background-color: #F2EDE9;
}

.itemView .content {
	padding: 10px;
	background-color: #F2EDE9;
	font-size: 14px;
}

.itemView img {
	padding: 5px;
}


.errorText {
	text-align: center;
	color: red;
	font-size: 16px;
}